<div [ngClass]="small ?'container outer':'container-fluid outer'">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-card class="sipForm">
          <!-- <mat-card-header>
            <div class="h5" style="font-family: Georgia, 'Times New Roman', Times, serif;">Calculate the return on your SIP investments </div>
          </mat-card-header> -->
          <mat-card-content>
            <mat-card>
              <form [formGroup]="sipForm" [ngClass]="small ?'insideForm-sm':'insideForm-lg'">
                <div class="form-group">
                  <label for="range" class="form-label">Investment(Monthly)</label> <button mat-button
                    class="preview" *ngIf="sipForm.controls.investment.dirty">= {{investment}}</button>
                  <input type="input" class="form-range" min="0" max="250000" id="range" class="form-control"
                    [(ngModel)]="investment" name="investment" formControlName="investment" [disabled]="calculated">
                  <p *ngIf="sipForm.controls.investment.touched && sipForm.controls.investment.invalid ">
                    <span *ngIf="sipForm.controls.investment.errors.required" class="text-danger">Field cannot be
                      empty</span>
                    <span
                      *ngIf="!sipForm.controls.investment.errors.required && sipForm.controls.investment.errors.pattern"
                      class="text-danger">Investment amt can only be numerical</span>
                  </p>
                </div>
                <div class="form-group">
                  <label for="ror" class="form-label">Expected Rate of Return</label> <button
                    class="preview" mat-button *ngIf="sipForm.controls.ror.dirty">= {{ror}} %</button>
                  <input type="range" class="form-range" min="0" max="30" id="ror" class="form-control"
                    [(ngModel)]="ror" name="ror" formControlName="ror"  [disabled]="calculated">
                </div>

                <div class="form-group">
                  <label for="noOfYears" class="form-label">Time (Years)</label>
                   <button mat-button
                    class="preview-sm" *ngIf="sipForm.controls.noOfYears.dirty">= {{noOfYears}} Years({{noOfYears*12}} months)</button>
                  <input type="range" class="form-range" min="0" max="30" id="noOfYears" class="form-control"
                    [(ngModel)]="noOfYears" name="noOfYears" formControlName="noOfYears">
                </div>

                <button class="btn btn-success" (click)="calculate()" [disabled]="sipForm.invalid">Calculate</button>
                &nbsp;&nbsp;
                <button class="btn btn-warning" (click)="reset()">Reset</button>
              </form>
            </mat-card>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="calculated" class="results">
          <table class="table">
            <tr>
              <th>SIP Amount:</th>
              <td> {{sipAmount | number: '1.2-2'}}</td>
            </tr>
            <tr>
              <th>Invested Amount:</th>
              <td> {{investmentFin*noOfYearsFin | number: '1.2-2'}}</td>
            </tr>
            <tr>
              <th>Total returns:</th>
              <td> {{sipAmount - (investmentFin*noOfYearsFin) | number: '1.2-2'}}</td>
            </tr>
          </table>
        </mat-card>
      </div>
      <div class="col" *ngIf="calculated">
        <mat-card>
          <div class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors" max-height="15%" max-width="20%">
          </canvas>
        </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>